<div class="container">
    <button (click)="closeMenu()">
        <img src="../../../assets/icon-close-menu.svg" alt="close menu">
    </button>
    <nav class="nav-left">
        <ul class="nav-list">
            <li class="nav-list-item nav-dropdown">
                <a href="#">Features</a>
                <img src="../../../assets/icon-arrow-down.svg" alt="arrow down">
            </li>
            <li class="nav-list-item nav-dropdown">
                <a href="#">Company</a>
                <img src="../../../assets/icon-arrow-down.svg" alt="arrow down">                       
            </li>
            <li class="nav-list-item"><a href="#">Carrers</a></li>
            <li class="nav-list-item"><a href="#">About</a></li>
        </ul>
    </nav>
    <nav class="nav-center">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="#">Login</a></li>
            <li class="nav-list-item nav-item-border"><a href="#">Register</a></li>            
        </ul>
    </nav>
</div>
