<div class="nav">
    <div class="col-2">
        <img id="logo" src="../../../assets/logo.svg" alt="logo">
    </div>
    <nav class="col-5">
        <ul class="nav-list">
            <li class="nav-list-item nav-dropdown">
                <a href="#">Features</a>
                <img src="../../../assets/icon-arrow-down.svg" alt="arrow down">
                <div class="dropdown-content">
                    <div>
                        <img src="../../../assets/icon-todo.svg" alt="toDo">
                        <span>Todo List</span>
                    </div>
                    <div>
                        <img src="../../../assets/icon-calendar.svg" alt="calendar">
                        <span>Calendar</span>
                    </div>
                    <div>
                        <img src="../../../assets/icon-reminders.svg" alt="reminders">
                        <span>Reminders</span>
                    </div>
                    <div>
                        <img src="../../../assets/icon-planning.svg" alt="planning">
                        <span>Planning</span>
                    </div>
                </div>
            </li>
            <li class="nav-list-item nav-dropdown">
                <a href="#">Company</a>
                <img src="../../../assets/icon-arrow-down.svg" alt="arrow down">  
                <div class="dropdown-content">
                    <span>History</span>
                    <span>Our team</span>
                    <span>Blog</span>
                </div>                          
            </li>
            <li class="nav-list-item"><a href="#">Carrers</a></li>
            <li class="nav-list-item"><a href="#">About</a></li>
        </ul>
    </nav>
    <nav class="col-3">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="#">Login</a></li>
            <li class="nav-list-item nav-item-border"><a href="#">Register</a></li>
        </ul>
    </nav>
</div>