#heroImage {
    width: 100%;
}

h1 {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 60px;
}

p {
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: hsl(0, 0%, 41%);
    margin-bottom: 60px;
}

button {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    padding: 1em 2em;
    border-radius: 10px;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    margin-bottom: 80px;
}

/* LAYOUT */

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.col-4 {
    width: 40%;
}

#companyLogos img {
    margin-right: 20px;
}

/* EVENTS */

button:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1120px) {
    .main {
        flex-direction: column-reverse;
    }

    .col-4 {
        width: 100%;
        text-align: center;
    }

    .nav {
        flex-direction: column;
    }
}