<app-nav-bar></app-nav-bar>

<div class="main">
    <div class="col-4">
        <h1>Make remote work</h1>
        <p>Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
        <button>Learn more</button>
        <div id="companyLogos">
            <img src="../../../assets/client-databiz.svg" alt="databiz logo">
            <img src="../../../assets/client-audiophile.svg" alt="audiophile logo">
            <img src="../../../assets/client-meet.svg" alt="meet logo">
            <img src="../../../assets/client-maker.svg" alt="maker logo">
        </div>
    </div>
    <div class="col-4">
        <img id="heroImage" src="../../../assets/image-hero-desktop.png" alt="hero desktop">
    </div>
</div>