<div class="nav">
    <img src="../../../assets/logo.svg" alt="logo">
    <nav>
        <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Carrers</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <div>
        <h1>Make remote work</h1>
        <p>Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
        <button>Learn more</button>
        <div id="companyLogos">
            <img src="../../../assets/client-databiz.svg" alt="databiz logo">
            <img src="../../../assets/client-audiophile.svg" alt="audiophile logo">
            <img src="../../../assets/client-meet.svg" alt="meet logo">
            <img src="../../../assets/client-maker.svg" alt="maker logo">
        </div>
    </div>
    <div>
        <img src="../../../assets/image-hero-desktop.png" alt="hero desktop">
    </div>
</div>