<div class="nav">
    <img src="../../../assets/logo.svg" alt="logo">
    <nav>
        <ul class="nav-list">
            <li class="nav-list-item nav-dropdown">
                <a href="#">Features</a>
                <img src="../../../assets/icon-arrow-down.svg" alt="arrow down">
                <div class="dropdown-content">
                    <div>
                        <img src="../../../assets/icon-todo.svg" alt="toDo">
                        <span>Todo List</span>
                    </div>
                    <div>
                        <img src="../../../assets/icon-calendar.svg" alt="calendar">
                        <span>Calendar</span>
                    </div>
                    <div>
                        <img src="../../../assets/icon-reminders.svg" alt="reminders">
                        <span>Reminders</span>
                    </div>
                    <div>
                        <img src="../../../assets/icon-planning.svg" alt="planning">
                        <span>Planning</span>
                    </div>
                </div>
            </li>
            <li class="nav-list-item nav-dropdown">
                <a href="#">Company</a>
                <img src="../../../assets/icon-arrow-down.svg" alt="arrow down">  
                <div class="dropdown-content">
                    <span>History</span>
                    <span>Our team</span>
                    <span>Blog</span>
                </div>                          
            </li>
            <li class="nav-list-item"><a href="#">Carrers</a></li>
            <li class="nav-list-item"><a href="#">About</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="nav-list">
            <li class="nav-list-item"><a href="#">Login</a></li>
            <li class="nav-list-item nav-item-border"><a href="#">Register</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <div class="col-4">
        <h1>Make remote work</h1>
        <p>Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
        <button>Learn more</button>
        <div id="companyLogos">
            <img src="../../../assets/client-databiz.svg" alt="databiz logo">
            <img src="../../../assets/client-audiophile.svg" alt="audiophile logo">
            <img src="../../../assets/client-meet.svg" alt="meet logo">
            <img src="../../../assets/client-maker.svg" alt="maker logo">
        </div>
    </div>
    <div class="col-4">
        <img id="heroImage" src="../../../assets/image-hero-desktop.png" alt="hero desktop">
    </div>
</div>